<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <!--全局变量添加spring上下文配置文件路径-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <!-- 默认是/WEB-INF/applicationContext.xml -->
    <param-value>classpath:config/application.xml</param-value>
  </context-param>
  <!--spring上下文加载监听器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>
        